---

- name: Create Pihole dirs
  loop:
    - "{{ pihole_dir }}"
    - "{{ pihole_dir }}/etc-pihole"
    - "{{ pihole_dir }}/etc-dnsmasq.d"
    - "{{ pihole_dir }}/var-dnsmasq"
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    owner: root
    group: root
    mode: ug+rwx,o+rx

- name: Pihole environment files/dns-servers.conf
  ansible.builtin.template:
    src: environment.j2
    dest: "{{ pihole_dir }}/environment"
    owner: root
    group: root
    mode: ug+rw,o-rw
  register: environment_result

- name: Get Pihole container image
  containers.podman.podman_image:
    name: "{{ pihole_image }}"
    state: present
  notify:
    - "net.lafayette.pihole :: Service updated"


- name: Configure Pihole container
  containers.podman.podman_container:
    name: "{{ pihole_container_name }}"
    image: "{{ pihole_image }}"
    state: quadlet

    quadlet_options:
      - |-
        [Service]
        Restart=always
        [Install]
        WantedBy=default.target
    hostname: pi.hole

    # NOTE: Need to use host network mode for security.
    # Using bridge mode triggers Netavark logic for setting up ports,
    # which inserts nft rules that have higher priority than firewalld rules.
    # This means that Pihole listening to 0.0.0.0 will respond to queries from anywhere,
    # bypassing firewalld restrictions.
    network: host

    env:
      TZ: "{{ ansible_date_time['tz'] }}"
      WEBPASSWORD: "{{ pihole_web_password }}"
      FTLCONF_LOCAL_IPV4: "{{ pihole_local_ip }}"

      # Inside a container, it's safe to be root
      DNSMASQ_USER: root

      WEB_PORT: "{{ pihole_port_http }}"
      WEB_BIND_ADDR: "{{ pihole_local_ip }}"

      PIHOLE_DOMAIN: "{{ pihole_reverse_dhcp_domain }}"

      REV_SERVER: "true"
      REV_SERVER_DOMAIN: "{{ pihole_reverse_dhcp_domain }}"
      REV_SERVER_TARGET: "{{ pihole_reverse_dhcp_target }}"
      REV_SERVER_CIDR: "{{ pihole_reverse_dhcp_cidr }}"

    volumes:
      - "{{ pihole_dir }}/etc-pihole:/etc/pihole:rw,z"
      - "{{ pihole_dir }}/etc-dnsmasq.d:/etc/dnsmasq.d:rw,z"
      - "{{ pihole_dir }}/var-dnsmasq:/var/lib/dnsmasq:rw,z"


  notify:
    - "net.lafayette.pihole :: Service updated"

- name: Remove systemd-resolved (let pihole take over port 53)
  ansible.builtin.package:
    state: absent
    name: systemd-resolved
