# DNS is only provided for the sake of DHCP-based resolution

########## DNS ##########

port={{ dnsmasq_dns_port }}

{% if dnsmasq_interfaces %}
interfaces={{ dnsmasq_interfaces | join(',') }}
{% else %}
# No interfaces specified, bind dynamically to everything
bind-dynamic
{% endif %}

{% if dnsmasq_except_interfaces %}
# Do not bind to these
except-interface={{ dnsmasq_except_interfaces | join(',') }}
{% endif %}

{% if not dnsmasq_resolv %}
# Do not respect system upstream resolver
no-resolv
{% endif %}

dns-loop-detect

{% if not dnsmasq_neg_cache %}
no-neg-cache
{% endif %}

# Don't forward bare-name requests, those should be local only
domain-needed

# Increase cache size bigly
#cache-size={{ dnsmasq_cache_size }}

# Allow more concurrent requests
dns-forward-max=1000


{% if dnsmasq_log_queries %}
# Log queries for debugging
log-queries
{% endif %}

# Logs to stderr
log-facility=-
log-async
log-queries
log-dhcp

{% for record in dnsmasq_address_records %}{% for address in record.addresses %}
address=/{{ record.domains | join('/') }}/{{ address }}
{% endfor%}{% endfor %}

########## DHCP ##########

# NTP servers
dhcp-option=option:ntp-server,{{ dnsmasq_dhcp_ntp_servers | join(',') }}

# Location of lease file
# NOTE: this is in the container, not in the host
dhcp-leasefile=/var/lib/dnsmasq/dnsmasq.leases
